In [4]:
print("Information of female students in the classroom")
Name = ["Evelyn", "Jessica", "Somto", "Edith", "Lara", "Madonna", "Waje", "Tola", "Aisha", "Latifa"]
Age = [17, 16, 17, 18, 16, 18, 17, 28, 19, 17]
Height = [5.5, 6.0, 5.4, 5.9, 5.5, 5.8, 6.1, 6.0, 5.7, 5.5]
Scores = [83, 85, 70, 60, 65, 74, 87, 98, 66, 69]

for val in range(10):
    print(Name[val], "|", Age[val], "|", Height[val], "|", Scores[val], "|")

Information of female students in the classroom
Evelyn | 17 | 5.5 | 83 |
Jessica | 16 | 6.0 | 85 |
Somto | 17 | 5.4 | 70 |
Edith | 18 | 5.9 | 60 |
Lara | 16 | 5.5 | 65 |
Madonna | 18 | 5.8 | 74 |
Waje | 17 | 6.1 | 87 |
Tola | 28 | 6.0 | 98 |
Aisha | 19 | 5.7 | 66 |
Latifa | 17 | 5.5 | 69 |

In [6]:
print("Information of the male students in the classroom")
Name = ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kole", "George", "Thomas", "Wesley","Kunle"]
Age = [17, 16, 17, 18, 16, 18, 17, 28, 19, 17]
Height = [5.5, 6.0, 5.4, 5.9, 5.5, 5.8, 6.1, 6.0, 5.7, 5.5]
Scores = [83, 85, 70, 60, 65, 74, 87, 98, 66, 69]

for val in range(10):
    print(Name[val], "|", Age[val], "|", Height[val], "|", Scores[val], "|")

Information of the male students in the classroom
Chinedu | 17 | 5.5 | 83 |
Liam | 16 | 6.0 | 85 |
Wale | 17 | 5.4 | 70 |
Gbenga | 18 | 5.9 | 60 |
Abiola | 16 | 5.5 | 65 |
Kole | 18 | 5.8 | 74 |
George | 17 | 6.1 | 87 |
Thomas | 28 | 6.0 | 98 |
Wesley | 19 | 5.7 | 66 |
Kunle | 17 | 5.5 | 69 |